* {
    margin:0;
    padding:0;
    font-family: Montserrat!important;
}

h1, h2, h3, h4 {
    font-weight: bold;
}
html, body
{
    height: 100%;
}
.charte {
    border: 1px solid rgb(83, 89, 102);
    background: rgb(255, 255, 255);
    color: #323236;
}

#bodybg {
    background-size: 180px;
    //background: #323236;
}

#megaBan{
    height: 200px;
    width:100%;
    background-color: rgba(58, 78, 97, 0.66);
}

.recruitImg {
    width:25px;
    height:25px;

    border: 2px solid black;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.desactivatedRecruit{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

#leftBlock {
    margin:0;
    padding:0;
}

#recruitment {
    padding-bottom: 15px;
}

#news {
    min-height: 500px;
}

#progress {
    padding-bottom: 15px;
}

#footer {
    margin-top:15px;
}

.rosterVignettes {
    background-color: rgba(55, 90, 127, 0.4);
    border:1px solid rgba(55, 90, 127, 0.4);
    padding:3px;
    opacity: 0.7;
    width: 100%;
    margin-bottom: 5px; 
}

.rosterVignettes:hover {
    background-color: rgba(55, 90, 127, 1);
    border:1px solid rgba(55, 90, 127, 1);
    padding:3px;
    opacity: 0.7;
    width: 100%;
}

.rosterVignettes a {
    text-decoration: none;
    display:block;
}

.homeRosterVignettes{
    background-color: rgba(147, 197, 75, 0.6);
    border:1px solid rgba(147, 197, 75, 0.6);
    padding:3px;
    width: 100%;
    margin-bottom: 5px; 
}

.homeRosterVignettes:hover {
    background-color: rgba(147, 197, 75, 1);
    border:1px solid rgba(147, 197, 75, 1);
    padding:3px;
    width: 100%;
}

.homeRosterVignettes a {
    opacity:1;
    text-decoration: none;
    display:block;
}
.rosterMember {
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #260009;
}
table thead th{
    color:#B54743;
}