* {
    margin:0;
    padding:0;
    font-family: Montserrat!important;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

body {
    height:100%;
    //background-image: url(../img/background.jpg);

}

.charte {
    border: 1px solid rgb(83, 89, 102);
    background: rgb(255, 255, 255);
    color: #323236;
}

#bodybg {
    background-size: 180px;
    background: #323236;
}

#megaBan img{
    height: 500px;
    width:100%;
}

.recruitImg {
    width:25px;
    height:25px;

    border: 2px solid black;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.desactivatedRecruit{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

#leftBlock {
    margin:0;
    padding:0;
}

#recruitment {
    padding-bottom: 15px;
}

#news {
    min-height: 500px;
}

#progress {
    padding-bottom: 15px;
}

#footer {
    margin-top:15px;
}